#eight {
    background-image: url(../img/live.jpg);
    height: 105vh;
    width: 100%;
    background-size: cover;
}
.ei-ph {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 5em;
}
.ei-h1 {
    font-weight: bold;
    color: white;
}
.ei-p {
    font-size: 20px;
    font-weight: bold;
    padding: .5em;
    color: white;
}