#fourth {
    background-image: url(../img/fourth.jpg);
    height: 110vh;
    width: 100%;
    background-size: cover;
}
.fourth-p {
    color: white;
    padding: 90px 0 0 50px;
    font-size: 20px;
}